#startTime,#endTime{

    background-color: aqua;
    color: blue;

}
.stopwatch{

    margin-left: 45%;

}
.main{

    margin-left: -7%;
}
button{
    width: 20%;
    height: 5%;
    border-radius: 20%;
    cursor: pointer;
}
#clock{
   
    margin-top: 5%;
    font-size: 400%;
    margin-left: 3%;

}
